<header class="app-header">
  <mat-toolbar>
    <span class="spacer"></span>
    <button *ngIf="authenticated" routerLink="/sobre"mat-button>Sobre</button>
    <button *ngIf="authenticated" routerLink="/home"mat-button>Home</button>
    <button *ngIf="!authenticated" routerLink="/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
    <button *ngIf="!authenticated" routerLink="/login" mat-stroked-button>LOGIN</button>
    <button *ngIf="authenticated" routerLink="/perfil" mat-stroked-button>PERFIL</button>
    <button *ngIf="authenticated" (click)="logout()" mat-stroked-button>LOGOUT</button>
  </mat-toolbar>
</header>

